/*
body {
  font-family: Arial, sans-serif;
  background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
*/


html, body {
	height: 100%;
}

* {margin:0; padding:0; box-sizing:border-box;}

.infobox {
	width: 40%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
}

.infobutton {
	font-size: 1em;
	padding: 10px;
	color: #fff;
	border: 2px solid #06D85F;
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.infobutton:hover {
	background: #06D85F;
}

.infooverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.infooverlay:target {
	visibility: visible;
	opacity: 1;
}

.infopopup {
	position: relative; /* 1. Position relative because of absolute child elements */
	padding: 20px; 
	box-sizing: border-box; /* 3. Box sizing to subtract padding and border from the 100% height of this element when child elements define 100% height */
	margin: 70px auto;
	background: #fff;
	border-radius: 5px;
	width: 80%;
	height: 85%;
	transition: all 5s ease-in-out;
    overflow: auto;
	font-family: Lato,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: #111;
    font-size: calc(14px + .25vw);
}

.infopopup h2 {
	font-family: "Fira Sans",Playfair Display,Georgia,serif;
    font-weight: 700;
	margin-top: 0;
	color: #333;
    font-weight: 400;
}

.infopopup .infoclose-wrapper {
	text-align: right;
}

.infopopup .infoclose {
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.infopopup .infoclose:hover {
	color: #06D85F;
}

.infopopup .infocontentwrapper {
    box-sizing: border-box; 
    overflow: auto;
}
.infopopup .infotop {
    box-sizing: border-box; 
    overflow: hidden;
}


.infopopup .infonotetitle {
	padding: 10px 0px 10px 0px;
	font-style: italic;
}
	
.infopopup .infonote {
	padding: 5px 0px 5px 0px;
}

.infopopup .infotitle {
	color: #0b80c3; /* #feda00; */ /* #06D85F; */
	font-family: "Fira Sans",Playfair Display,Georgia,serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
	padding: 15px 0px 15px 0px;
}





.infopopup p {
/* 	font-size: 14px; */
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 23px;
}
.infopopup .info-copyright {
	text-align: right;
/* 	padding: 10px; */
}
.infopopup .info-copyright p {
	font-size: 12px;
/* 	line-height: 12px; */
}
.infopopup .info-source {
	text-align: right;
/* 	padding: 10px;	 */
}
.infopopup .info-source p {
	font-size: 11px;
/* 	line-height: 12px; */
}


/* URL Links */
.infocontentwrapper a, .info-source  a {

    text-decoration: none;
    border-bottom: .2em solid #feda00;
    color: inherit;
    outline: 0;
    font-weight: 400;
    transition: all .2s ease-out;

}
.infocontentwrapper a:hover, .info-source a:hover, ul a:hover {
    background: #feda00;
}



@media screen and (max-width: 700px) {
	.infobox {
		width: 70%;
	}
	.infopopup {
		width: 70%;
	}
}